inrix-map-matcher/.classpath
inrix-map-matcher/.project
inrix-map-matcher/.settings/
inrix-map-matcher/target/

inrix-parser/.classpath
inrix-parser/.project
inrix-parser/.settings/
inrix-parser/target/

msi-parser/.classpath
msi-parser/.project
msi-parser/.settings/
msi-parser/target/

mst-parser/.classpath
mst-parser/.project
mst-parser/.settings/
mst-parser/target/

routing-map-matcher/.classpath
routing-map-matcher/.project
routing-map-matcher/.settings/
routing-map-matcher/target/

situations-parser/.classpath
situations-parser/.project
situations-parser/.settings/
situations-parser/target/

waze-parser/.classpath
waze-parser/.project
waze-parser/.settings/
waze-parser/target/
inrix-parser/files/inrix_nodes.sql
inrix-parser/files/inrix_segments.sql
mst-parser/files/measurement.sql
mst-parser/files/locations.sql
waze-parser/files_out/waze_data.sql
