# IntelliJ IDE
.idea
*.iml

# Eclipse IDE
.settings/
.project
.classpath
.checkstyle
.factorypath

# Build folder
target

# Output files
inrix-parser/files/inrix_nodes.sql
inrix-parser/files/inrix_segments.sql

mst-parser/files/measurement.sql
mst-parser/files/locations.sql

waze-parser/files_out/waze_data.sql

situations-parser/files/situation_records.sql
situations-parser/files/situation_record_locations.sql
